<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visulization</title>
</head>
<body>
    
<h1>Children Associated With Account</h1>


{% for x in user   %}
<table style="border: 1px solid black;;">
    <tr style="border: 1px solid black;;">
        <th style="border: 1px solid black;;">DOB</th>
        <th style="border: 1px solid black;;">Name</th> 
        <th style="border: 1px solid black;;">Status</th>
      </tr>

 {% for y in x.children %}
 <tr style="border: 1px solid black;;">
    <td style="border: 1px solid black;;">{{y.dob}}</td>
    <td style="border: 1px solid black;;"> {{y.name}}</td>
    <td style="border: 1px solid black;;">{{y.status}}</td>
  </tr> 
 
 {%   endfor        %}
 <br>
</table>
{% endfor %}



</body>
</html>