{%extends 'parenthome.html'%}
{%block title%}Forum{%endblock%}
{%block content%}
<div class="container" style="background-color: #8B008B; color: white; margin-top: 0%; margin-bottom: 30px;height: 70px;">
    <h2 style=" color:#fff;padding: 10px">Forum</h2>
</div>
<div class = "container-fluid mt-5">
    <div class = "row mt-5">
        <div class = "col-8">
            <form action="{{ url_for('addtoForum') }}" method="post">
                <input type="text" class="form-control" name='message' id='message' placeholder="Message" style="margin-bottom: 10px;">
                <br><button type="submit" class="btn btn-dark" style="background-color:#e7305b ;color: white;border-color:#e7305b;">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

<div class = "container-fluid mt-5">
    
    {%for post in forum_message%}
        <div class = "row">
            <div class = "row mx-auto">
                {{post.message}}
            </div>
            <div class = "row">
                
                <div class = "col-4">
                <button  type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="btn btn-dark" style="background-color:#e7305b ;color: white;border-color:#e7305b;">Comments</button>
                </div>

                </p>
                <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class = "row mt-5">
                        <div class = "col-8">
                            <form action="{{ url_for('addComment') }}" method="post">
                                <input type="text" class="form-control" name='comment' id='comment' placeholder="Message" style="margin-bottom: 10px;">
                                <input type = "hidden" value = {{post._id}} name = "postid" , id = "postid"> 
                                <br><button type="submit" class="btn btn-dark" style="background-color:#e7305b ;color: white;border-color:#e7305b;">Upload</button>
                            </form>
                        </div>
                    </div>
                    
                    {%for comments in post.comments%}
                    <div class = "row mt-5">
                        {{comments}}
                    </div>
                    {% endfor %}

                </div>
                </div>
            </div>
            {%endfor%}
        </div>
    
</div>
{%endblock%}